html, body
{
    background-color: royalblue;
    height: 100%;
    width:100%;
}
#container
{
    height: 100%;
    width: 100%;
}
#map
{
    background-position: center;
    margin-top: -0.6%;
    margin-left: -0.6%;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#logo
{
    position: fixed;
    z-index: 900;
    left: 45%;
}
#logo a img
{
    width: 150px;
    height: 80px;
}
#ita
{
    cursor: pointer;
    position: fixed;
    z-index: 900;
    left: 92%;
    margin-top: 1.8%;
    width: 65px;
    height: 35px;
}
#eng
{
    cursor: pointer;
    position: fixed;
    z-index: 900;
    left: 85%;
    margin-top: 1.8%;
    width: 65px;
    height: 35px;
}
#help
{
    position: fixed;
    z-index: 900;
    left: 20%;
    margin-top: 49%;
    width: 25em;
    padding: .2em;
    color: #ffffff;
    border: solid thin #22a58e;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 2px #bbb;
    background-color: #22a58e;
    cursor: pointer;
}
#newItinerary
{
    position: fixed;
    z-index: 900;
    left: 60%;
    margin-top: 49%;
    width: 25em;
    padding: .2em;
    color: #ffffff;
    border: solid thin #3562cd;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 2px #bbb;
    background-color: #3562cd;
    cursor: pointer;
}

#descriptor{
    z-index: 900;
    background: #cdcace;
    background: rgba(255, 255, 255, 0.8);
    width: 700px !important;
    height: 400px !important;
    margin-top: 10%;
    margin-left: 22%;
    padding: 10px;
    position: fixed;
    display: none;
    border-radius: 5px;
    box-shadow: 5px 2px 2px #aaa;

}

#descriptor span{
    font-family: "Georgia";
    overflow: scroll;
    max-height: 150px;
    cursor: pointer;

}
#descriptor h1{
    font-family:"Lucida Grande";
    font-size: x-large;

}
#closeDescriptor{
color: darkred;
cursor: pointer;
}
#descriptor .column img {
    height: 90%;
    width: 90%;
    margin-left: 8%;
}

#descriptor img{
    max-width: 100%;

}

.container {
    display: flex; /* or inline-flex */
    height: 385px;

}

.column
{
    width: 350px;
    height: 400px;
    max-width: 50%;
    padding: 5px;
}

.addItinerary{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}

.addItinerary {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.addItinerary:hover {
    background-color: #4CAF50;
    color: white;
}

.removeItinerary{
    background-color: #d51912; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}

.removeItinerary{
    background-color: white;
    color: black;
    border: 2px solid #d51912;

}

.removeItinerary:hover{
    background-color: #d51912;
    color: white;
}
.column #prevNext
{
    position: relative;
    margin-top: -58%;
}
.prev , .next
{
    cursor: pointer;
    padding: 4%;
    margin-left: 7%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
}
.next
{
    border-radius: 4px 0 0 4px;
    margin-left: 67.5%;
}
.prev:hover , .next:hover
{
    background-color: black;
}
