html, body
{
    background-color: royalblue;
    height: 100%;
    width:100%;
}
#container
{
    height: 100%;
    width: 100%;
}
#map
{
    background-position: center;
    margin-top: -0.6%;
    margin-left: -0.6%;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#logo
{
    position: fixed;
    z-index: 900;
    left: 45%;
}
#logo a img
{
    width: 150px;
    height: 80px;
}
#ita
{
    cursor: pointer;
    position: fixed;
    z-index: 900;
    left: 92%;
    margin-top: 1.8%;
    width: 65px;
    height: 35px;
}
#eng
{
    cursor: pointer;
    position: fixed;
    z-index: 900;
    left: 85%;
    margin-top: 1.8%;
    width: 65px;
    height: 35px;
}
#help
{
    position: fixed;
    z-index: 900;
    left: 20%;
    margin-top: 49%;
    width: 25em;
    padding: .2em;
    color: #ffffff;
    border: solid thin #22a58e;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 2px #bbb;
    background-color: #22a58e;
}
#newItinerary
{
    position: fixed;
    z-index: 900;
    left: 60%;
    margin-top: 49%;
    width: 25em;
    padding: .2em;
    color: #ffffff;
    border: solid thin #3562cd;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 2px #bbb;
    background-color: #3562cd;
}

#descriptor{
    z-index: 900;
    background: rgba(255, 255, 255, 0.8);
    border: 1px black solid;
    width: 700px !important;
    height: 400px !important;
    margin-top: 10%;
    padding: 10px;
    position: fixed;
    display: none;
    border-radius: 5px;
    box-shadow: 5px 2px 2px #aaa;

}

#descriptor p{
    overflow: scroll;
    max-height: 200px;
    background: rgba(200, 200, 200, 0.3);
    padding: 5px;
    border-radius: 5px;
}

#closeDescriptor{
    cursor: pointer;
}

#descriptor img{
    max-width: 100%
}

.container {
    display: flex; /* or inline-flex */
}
.column{
    max-width: 50%;
    padding: 5px;

}